{% extends "base.html" %}

{% block additional_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.3/css/bootstrap-dialog.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.3/js/bootstrap-dialog.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>

    {% if target == 'dropbox' %}
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="uu5mhej80smc1vp"></script>
    {% elif target == 'google' %}
        <script src="https://apis.google.com/js/platform.js" async defer>{
            parsetags: 'explicit'
        }</script>
    {% endif %}

    <script>

        $('#modifyModules').on('click', function () {
            BootstrapDialog.show({
                title: 'Modules Selection',
                message: function (dialog) {
                    var $message = $('<div><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">IVLE is Thinking...</div></div></div>');
                    var pageToLoad = dialog.getData('pageToLoad');
                    $message.load(pageToLoad);

                    return $message;
                },
                data: {
                    'pageToLoad': '{{ url_for('modules') }}'
                },
                buttons: [
                    {
                        label: 'Close',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    },
                    {
                        label: 'Submit',
                        cssClass: 'btn-primary',
                        action: function (dialogItself) {
                            $("#moduleForm").submit();
                            dialogItself.close();
                        }
                    },
                ]
            });
        });

        var modulesCallback = function () {
            $.get("{{ url_for('modules_get') }}", function (data, status) {
                $("#textModules").val(data);
                $.bootstrapGrowl("Modules updated to " + data, {
                    type: 'info'
                });
            });
        };


        $('#settingsForm').ajaxForm({
            dataType: 'json',
            success: function (data) {
                if (data.result)
                    $.bootstrapGrowl("Settings Saved!", {
                        type: 'info'
                    });
                else
                    $.bootstrapGrowl(data.message, {
                        type: 'warning'
                    });
            }
        });

        {% if target %}
            $('#logoutButton').click(function () {
                BootstrapDialog.confirm({
                    title: 'Confirm Logging Out?',
                    message: 'Warning!',
                    type: BootstrapDialog.TYPE_DANGER,
                    closable: true,
                    btnOKLabel: 'Confirm Logout',
                    callback: function (result) {
                        if (result) {
                            document.location.href = "{{ url_for('auth_'+target+'_unauth') }}";
                        }
                    }
                });
            });
        {% endif %}

        {% if target == 'dropbox' %}
            $('#modifyFolder').on('click', function () {
                var notificationDisplayed = false;
                var options = {
                    files: [
                        {'url': '{{ url_for('dropbox_folder', _external=True) }}?user_id={{ user_id }}&key={{ key }}', 'filename': '.Your_Workbin_Files'}
                    ],
                    success: function () {
                        $.bootstrapGrowl("File saved successfully. We are looking for it, one second please...", {
                            type: 'info'
                        });
                        $.get("{{ url_for('dropbox_update_folder') }}", function (data, status) {
                            $("#textFolder").val(data);
                            $.bootstrapGrowl("We found it! Your folder is now updated to " + data, {
                                type: 'info'
                            });
                        })
                    },
                    progress: function (progress) {
                        if (!notificationDisplayed) {
                            $.bootstrapGrowl("Communicating with Dropbox...", {
                                type: 'info'
                            });
                            notificationDisplayed = true;
                        }
                    },
                    cancel: function () {
                        $.bootstrapGrowl("Your folder is not changed.", {
                            type: 'info'
                        });
                    },
                    error: function (errorMessage) {
                        $.bootstrapGrowl("Something went wrong. Dropbox says ".concat(errorMessage), {
                            type: 'danger'
                        });
                    }
                };
                Dropbox.save(options);
            });
        {% elif target == 'google' %}
            $('#modifyFolder').on('click', function () {
                BootstrapDialog.show({
                    title: 'Folder Selection for Google Drive',
                    message: function (dialog) {
                        var $message = $('<div>Loading...</div>');
                        var pageToLoad = dialog.getData('pageToLoad');
                        $message.load(pageToLoad);

                        return $message;
                    },
                    data: {
                        'pageToLoad': '{{ url_for('google_folder_ui') }}'
                    },
                    buttons: [
                        {
                            label: 'Close',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        },
                        {
                            label: 'Submit',
                            cssClass: 'btn-primary',
                            action: function (dialogItself) {
                                $("#googleFolderForm").submit();
                                dialogItself.close();
                            }
                        },
                    ]
                });
            });

            var gdriveCallback = function () {
                $.bootstrapGrowl("Communicating with Google...", {
                    type: 'info'
                });
                $.getJSON("{{ url_for('google_get_folder') }}", function (data, status) {
                    if (data.result) {
                        $.bootstrapGrowl("Your folder is now set to ".concat(data.path), {
                            type: 'info'
                        });
                        $('#textFolder').val(data.path);
                    } else {
                        $.bootstrapGrowl("Something went wrong: ".concat(data.info), {
                            type: 'warning'
                        });
                    }
                });
            };

            $(function () {
                $.getJSON("{{ url_for('google_get_folder') }}", function (data, status) {
                    if (data.result)
                        $('#textFolder').val(data.path);
                    else
                        $('#textFolder').val(data.info);
                });
            });
        {% endif %}

    </script>

{% endblock %}

{% block main_body %}

    <div id="unauthModal" class="modal fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Logout</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <ul>
                    <li>Very Dangerous!</li>
                    <li>No one writes this warning message yet.</li>
                    <li>But anyway very dangerous lah</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            <a class="btn btn-danger" href="
                    {% if target == 'dropbox' %}{{ url_for('auth_dropbox_unauth') }}{% elif target == 'google' %}{{ url_for('auth_google_unauth') }}{% endif %}"
               role="button">Logout</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Modules to Sync
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="modifyModules">Modify</button>
                </span>
                <input type="text" class="form-control" id="textModules" value="{{ selected_modules }}" disabled>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Target Settings
        </div>
        <div class="panel-body">
            {% if target == 'dropbox' %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></span>
                        <button class="btn btn-default" type="button" id="modifyFolder">Set Folder</button>
                    </span>
                    <input type="text" class="form-control" id="textFolder"
                           value="{{ target_settings.folder or 'Unknown / Not Set' }}" disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" id="logoutButton">Logout</button>
                    </span>
                </div>
            {% elif target == 'google' %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-social-icon btn-google-plus"><i class="fa fa-google"></i></span>
                        <button class="btn btn-default" type="button" id="modifyFolder">Set Folder</button>
                    </span>
                    <input type="text" class="form-control" id="textFolder" value="Loading..." disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" id="logoutButton">Logout</button>
                    </span>
                </div>
            {% else %}
                <a class="btn btn-social btn-dropbox" href="{{ url_for('auth_dropbox') }}">
                    <i class="fa fa-dropbox"></i> Dropbox
                </a>
                <a class="btn btn-social btn-google-plus" href="{{ url_for('auth_google') }}">
                    <i class="fa fa-google"></i> Google Drive (Beta)
                </a>
                <!--<a class="btn btn-social btn-microsoft" href="{{ url_for('auth_onedrive') }}">
                    <i class="fa fa-windows"></i> OneDrive (Not implemented)
                </a>-->
            {% endif %}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Settings
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST" action="{{ url_for('settings_submit') }}" id="settingsForm">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" name="email" value="{{ email }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="sync_enabled" {% if sync_enabled %}checked="checked"{% endif %}> Enable Syncing
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="uploadable_folder" {% if uploadable_folder %}checked="checked"{% endif %}> Allow Syncing of
                                Uploadable
                                Folder
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-block btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
