{% extends "base.html" %}

{% block additional_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/css/bootstrap-modal.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/js/bootstrap-modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>

    {% if target == 'dropbox' %}
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="uu5mhej80smc1vp"></script>
    {% endif %}

    <script>

        $.fn.modal.defaults.spinner = $.fn.modalmanager.defaults.spinner =
                '<div class="loading-spinner" style="width: 200px; margin-left: -100px;">' +
                '<div class="progress progress-striped active">' +
                '<div class="progress-bar" style="width: 100%;"></div>' +
                '</div>' +
                '</div>';
        $.fn.modalmanager.defaults.resize = true;

        var $modal = $('#ajaxModal');

        $('#modifyModules').on('click', function () {
            $('body').modalmanager('loading');

            $modal.load('{{ url_for('modules') }}', '', function () {
                $modal.modal();
            });
        });

        var modulesCallback = function () {
            $.get("{{ url_for('modules_get') }}", function (data, status) {
                $("#textModules").val(data);
                $.bootstrapGrowl("Modules updated to " + data, {
                    type: 'info'
                });
            });
        };

        {% if target == 'dropbox' %}
            $('#modifyFolder').on('click', function () {
                var options = {
                    files: [
                        {'url': '{{ url_for('dropbox_folder', _external=True) }}?user_id={{ user_id }}', 'filename': '.Your_Workbin_Files'}
                    ],
                    success: function () {
                        $.bootstrapGrowl("File saved successfully. We are looking for it, please wait...", {
                            type: 'info'
                        });
                        $.get("{{ url_for('dropbox_update_folder') }}", function (data, status) {
                            $("#textFolder").val(data);
                            $.bootstrapGrowl("We found it! Your folder is now updated to " + data, {
                                type: 'info'
                            });
                        })
                    },
                    cancel: function () {
                        $.bootstrapGrowl("Your folder is not changed.", {
                            type: 'info'
                        });
                    },
                    error: function (errorMessage) {
                        $.bootstrapGrowl("Something went wrong. Dropbox says ".concat(errorMessage), {
                            type: 'danger'
                        });
                    }
                };
                Dropbox.save(options);
            });
        {% endif %}
    </script>

    {% if dropbox_auth %}
        <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs"
                data-app-key="{{ DROPBOX_APPKEY }}"></script>
    {% endif %}
{% endblock %}

{% block main_body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            Modules to Sync
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" id="textModules" value="{{ selected_modules }}" disabled>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="modifyModules">Modify</button>
                </span>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Target Settings
        </div>
        <div class="panel-body">
            {% if target == 'dropbox' %}
                <div class="input-group">
                <span class="input-group-btn">
                        <span class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></span>
                </span>
                    <input type="text" class="form-control" id="textFolder"
                           value="{{ target_settings.target_folder or 'Unknown / Not Set' }}" disabled>
                <span class="input-group-btn">
                        <a class="btn btn-default" href="{{ url_for('auth_dropbox_unauth') }}" role="button"
                           id="unauthorizeDropbox">Logout</a>
                        <button class="btn btn-default" type="button" id="modifyFolder">Set Folder</button>
                </span>
                </div>
            {% elif target == 'onedrive' %}
                Nothing here.
            {% else %}
                <a class="btn btn-social btn-dropbox" href="{{ url_for('auth_dropbox') }}">
                    <i class="fa fa-dropbox"></i> Dropbox
                </a>
                <a class="btn btn-social btn-google-plus" href="{{ url_for('auth_google') }}">
                    <i class="fa fa-google"></i> Google Drive (Not implemented)
                </a>
                <a class="btn btn-social btn-microsoft" href="{{ url_for('auth_onedrive') }}">
                    <i class="fa fa-windows"></i> OneDrive (Not implemented)
                </a>
            {% endif %}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            Settings
        </div>
        <div class="panel-body">

        </div>
    </div>


    <div id="ajaxModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;"></div>

{% endblock %}
