<form role="form" method="GET" action="{{ url_for('google_update_folder') }}" id="googleFolderForm">
    <p>Click the button below and save the file to your desired folder.</p>

    <div class="g-savetodrive"
         data-src="{{ url_for('google_folder', _external=True, _scheme='https') }}?user_id={{ user_id }}&key={{ key }}"
         data-filename=".Your_Workbin_Files"
         data-sitename="NUSync">
    </div>
    <p>And click submit below to let us look for it.</p>
</form>

<script>
    $(function () {
        gapi.savetodrive.go('googleFolderForm');
        $('#googleFolderForm').ajaxForm(function () {
            gdriveCallback();
        });
    });
</script>
