<form role="form" method="POST" action="{{ url_for('modules_submit') }}" id="moduleForm">
    {% for module in modules %}
        <div>
            <label style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; ">
                <input type="checkbox" class="module-checkbox" name="{{ module.CourseCode }}|{{ module.ID }}"
                       {% if module.CourseCode in selected_modules %}checked="checked"{% endif %} data-size="mini">
                {{ module.CourseCode }} {{ module.CourseName }}
            </label>
        </div>
    {% endfor %}
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" id="enableAll">Enable All</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" id="disableAll">Disable All</button>
        </div>
    </div>
</form>

<script>
    $(function () {
        $(".module-checkbox").bootstrapSwitch();
        $('#moduleForm').ajaxForm(function () {
            modulesCallback();
        });
        $('#enableAll').click(function () {
            $(".module-checkbox").bootstrapSwitch('state', true);
        });
        $('#disableAll').click(function () {
            $(".module-checkbox").bootstrapSwitch('state', false);
        });
    });
</script>
